* {
  box-sizing: border-box;
}
body {
  font-family: 'raleway', sans-serif;
  color: var(--text-color);
  background: var(--bg-color);
  transition: 0.3s ease-out;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.nav-link {
color: burlywood !important;
}
h1 {
  display: flex;
  font-size: 4rem;
  z-index:3;
  line-height: 1.2;
  font-weight: 500;
  @media (max-width: 768px) {
      font-size: 2rem;
  }
}
h2 {
  font-size: 2rem;
  max-width: 500px;
}

.reviews {
  max-width: 100%;
  position: relative;
  margin: auto;
}
.reviewItems{
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  padding: 10px;
  align-items: center;
}
.reviewItems img{
  height: 250px;
  width: 250px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 15px;
}
.reviewItems h1 {
  font-family: 'raleway', sans-serif;
  font-size: 20px;
}
.reviewItems p {
  font-family: 'raleway', sans-serif;
  font-size: 14px;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: wheat;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next{
  right:0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover{
  background-color: rgba(0,0,0,0.8);
}
.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover{
  background-color: #111111;
}
.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

.reviewItems {
  display: none;
}
.img {
  vertical-align: middle;
}

span {
  color: whitesmoke;
}


 .logo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
  margin-bottom: -6px;
 }
 
 .nav-link{
  color: burlywood;
  font-size: 20px;
 }

 nav {
  background-color:#FFF6EA;
  height: 80px;
 }


 .footer-container {
  width: 100%;
  height: 175px;
  margin-top: auto;
  justify-content: center;
  background-color: #FFF6EA;
  color: whitesmoke;
}
.footer-logo{
  width: 160px;
  height: 160px;
  border-radius: 20%;
  overflow: hidden;
  text-align: center;
  

}
